body {
    background-color: #3b1414;
  }
  
  .heading {
    background-color: #aca6a6;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  
  .title {
    background-color: #333333;
    padding: 5px;
    color: white;
  }
  // Add additional css for categories here.
  